<div class="col mt-3">
    <h1>Forgot Password?</h1>
    <form method="post">
        <label>Please enter your email</label>
        <input type="email" class="form-control mt-3" name="email" />
        <br />
        <span class="text-danger">
            @Html.ValidationMessage("Error")
        </span>
        <br />
        <br />
        <button class="btn btn-outline-dark" type="submit">Send</button>
    </form>
</div>